@charset "utf-8";

.header__btn--darkmode {
  width: 70px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  font-size: 12px;
}

.dark {
  background-color: gray !important;
}


.login__container {
  width: 1200px;
  margin: 185px auto 185px;
  display: flex;
  justify-content: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  ;
}

.login__idLogin,
.login__certLogin {
  width: 35%;
  padding: 40px 60px;
}

.login__idLogin {
  border-right: 1px solid #ccc;
}


.login__idLogin h2,
.login__certLogin h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 15px;

}

.login__idLogin form input[type="text"],
.login__idLogin form input[type="password"] {
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px auto;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.login__idLogin--checkbox {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.login__idLogin--btn {
  display: block;
  width: 100%;
  height: 50px;
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
  background-color: #0066cc;
  color: white;
  border: 0;
}

.login__idLogin>p {
  margin: 15px 0;
  font-size: 15px;
}

.login__idLogin>p a {
  float: right;
  font-size: 15px;
  color: #0066cc;
}

.login__certLogin--btn {
  display: block;
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding-left: 75px;
  border: 0;
  background-color: #00aeef;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-image: url(../img/icn_cert.png);
  background-repeat: no-repeat;
  background-position: 32% 50%;
}

.login__certLogin--info {
  display: block;
  width: 100%;
  height: 60px;
  margin: 10px 0;
  border: 1px solid lightgray;
  background-color: white;
  font-size: 18px;
}

.login__certLogin>p {
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.4;
}

.login__certLogin>p a {
  font-size: 15px;
  color: #0066cc;
}

.login__certLogin>p a:hover {
  text-decoration: underline;
}